<!DOCTYPE html>
<html ng-app = "student">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src= "student.js"> </script>
</head>
<body ng-controller="studentController">

<div class="jumbotron text-center">
    <h1>Welcome to Nini University</h1>
    <p>This is the best its gonna get</p>
</div>
</div>

<div class="container">
  <div class="col-xs-3">
  <label for="ex2">#</label>
  <input class="form-control" id="ex2" type="number" ng-model="student.id">
  </div>

    <div class="col-xs-3">
  <label for="ex2">Name</label>
  <input class="form-control" id="ex2" type="text" ng-model="student.name">
    </div>

    <div class="col-xs-3">
  <label for="ex2">Course</label>
  <input class="form-control" id="ex2" type="text" ng-model="student.course">
    </div>
</div>

<br>
<div class="container">
    <button type="button" class="btn btn-primary" ng-click="addStudent()">Add student</button>
</div>

<div class="container">
    <h2>All Students</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Course</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat = "s1 in students track by $index">
                <td>{{s1.id}}</td>
                <td>{{s1.name}}</td>
                <td>{{s1.course}}</td>
                <td>
                      <button type="button" class="btn btn-default btn-sm" style="border:none" ng-click="deleteStudent(s1)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                      </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
